root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false

[*.py]
indent_style = tab
tab_width = 4
max_line_length = 79

[*.{json,yml,yaml}]
indent_style = tab
tab_width = 2

[*.md]
trim_trailing_whitespace = false
